﻿@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Bettson SPA (EXAM)</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
        <link rel="apple-touch-icon" href="~/Content/images/icon.png"/>
        
        @Styles.Render("~/Content/css")
        
        <script type="text/javascript">
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        </script>
    </head>
    <body>
        <div id="applicationHost">
            @Html.Partial("_splash")
        </div>
        
        @Scripts.Render("~/Scripts/vendor")
        <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
       
        
        <script type="text/javascript">
            define("appSettings", function() {
                return {
                    urlBase: "@Url.Content("~")",
                    apiUrlBase: "api/"

                    @*apiUrlBase: "@ConfigurationManager.AppSettings["apiUrlBase"]",
                    debug: @HttpContext.Current.IsDebuggingEnabled.ToString().ToLowerInvariant()*@
                };
            });
        </script>


    </body>
</html>
