﻿<section>
    
  
    

    <div id="sportsbook">
        
        <div class="main">
            <div class="alert alert-warning alert-dismissible col-xs-12" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Note!</strong> Please refresh the page if you encounter error! this is not yet tested.
            </div>
            
            <center><h3 class=" col-xs-5 col-sm-5 col-lg-5 pull-right" id="credits">Available Credits: $<span data-bind="text: credits"> </span></h3></center>
            <h3 class="col-xs-12">1. Select Countries</h3>
        </div>
        <div class="main">

            <div class="big-devider"></div>

            <div class="header">
                <div class="top-devider"></div>
                <div class="header-border"></div>
            </div>

            <div class="flagplaceholder">
                <div data-bind="foreach: displayCountries" style="display:block;">
                    <div class="marketplaceholder">
                        <a data-bind="click: $parent.selectPlayer">
                            <span class="flag flagSpan" data-bind="style: { backgroundImage: 'url(\'' + '../app/resources/' + Language + '.png\')' }"></span>
                            <p class="" data-bind="text:Language">
                            </p>
                        </a>
                    </div>
                </div>
                <div data-bind="if: showSplash">
                    <!-- ko compose: 'splasher.html' -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="col-xs-12" data-bind="visible: hasChosen">
            <h3>2. Pick Winner</h3>
            <div class="flagplaceholder ">
                <div data-bind="foreach: players" style="display:block;" class="col-xs-7">

                    <div class="marketplaceholder col-xs-12 pull-left" style="margin:0; padding:0;">
                        <div data-bind="text: oddsDisplay" ></div>
                        <a>
                            <span class="flag flagSpan" data-bind="style: { backgroundImage: 'url(\'' + '../app/resources/' + Language + '.png\')' }"></span>
                            <p class="" data-bind="text:Name">
                            </p>
                        </a>
                        <div ><input type="radio" name="winners" data-bind="checkedValue: $data, checked: $root.chosenPlayerToWin" /> <b>Pick</b></div>

                    </div>
                </div>
                <div class="col-xs-5 alert alert-warning pull-left" style="margin-top: 1em;" data-bind="visible: hasPicked">
                    You have picked <span data-bind="text: chosen" style="font-weight: bold;"></span> to WIN!
                </div>
            </div>
        </div>

        <div class="col-xs-12" data-bind="visible: hasPicked">
            <h3>3. Place your bet and Play!</h3>
            <div class="col-lg-6">
                <div class="input-group col-xs-5">
                    <input type="text" class="form-control" placeholder="Place your bet here" data-bind="value: bet">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="click: allIn">All In!</button> <button data-bind="click: play" class="btn btn-danger">Play!</button>
                    </span>
                    
                </div><!-- /input-group -->
                Available Credit: $<span data-bind="text:credits"></span>
            </div>
        </div>

        <div class="col-xs-12 alert alert-info" style=" margin: 1em; margin-top:3em;" data-bind="visible: hasWinner">

            <h1 data-bind="text: getWinnerName"></h1>
            <p data-bind="text: winningsDisplay">
            </p>

            
        </div>
        
        <button data-bind="click: reset" class="btn btn-default btn-lg" style="margin-top: 3em; ">Pick Again</button>











        <div class="col-xs-12" style="margin-top: 5em;">
            <h4> View Model</h4>
            <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
        </div>
    </div>
</section>


<style>
    .main {
        width: 950px;
        margin: 0 auto;

        
        /*min-height: 500px !important;
        min-height: 700px;*/

        height: auto;
        position: relative;
        margin-bottom: 3em;
        clear: both;
    }
     .big-devider {
         background-image: url(https://bps.hs.llnwd.net/e2/bc/Betsson/Startpage/neutral/spriteimg/2013/05/si_Betsson_FlagPageSprite_v497.Png);
         background-repeat: no-repeat;
         background-position: 0 -536px;
         height: 42px;
         width: 760px;
     }

    .header {
        margin: 0;
        padding: 0;
    }

    .top-devider {
        background-image: url(https://bps.hs.llnwd.net/e2/bc/Betsson/Startpage/neutral/spriteimg/2013/05/si_Betsson_FlagPageSprite_v497.Png);
        background-repeat: no-repeat;
        background-position: 0 -511px;
        height: 25px;
        width: 320px;
    }

    .header-border {
        height: .6em;
        background-color: #A3A3A3;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        margin-bottom: 1em;
    }

    .flagplaceholder {
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 5em;
        display: block;
    }

    .marketplaceholder {
        background-position: center bottom;
        background-repeat: no-repeat;
        float: left;
        display: table;
        width: 25%;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding-left: .2em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-image: url(https://bps.hs.llnwd.net/e2/bc/Betsson/Startpage/neutral/image/2013/05/flagpage.devider_v3.png);
    }

    .marketplaceholder a {
        display: table-row;
        height: 100%;
        position: relative;
    }

    .marketplaceholder p {
        color: #aaa;
        vertical-align: middle;
        display: table-cell;
        padding-left: .7em;
        width: 90px;
        font-size: 1.5em;
        font-family: verdana;
    }

    .flagSpan {
        display: table-cell;
        float: left;
        vertical-align: middle;
        margin: 1em;
    }

    .flag {
        /*background-image: url(https://bps.hs.llnwd.net/e2/bc/Betsson/Startpage/neutral/spriteimg/2014/02/si_CC_Markets_v11.Png);*/
        background-repeat: no-repeat;
        background-position: 0 -0px;
        height: 44px;
        width: 62px;
    }
</style>
