﻿<section>
    <h2 data-bind="text:displayName"></h2>
    <blockquote data-bind="text:description"></blockquote>
    <h3>Technology Used in this simple SPA</h3>
    <ul data-bind="foreach: features">
        <li data-bind="text:$data"></li>
    </ul>
    <div class="alert alert-success">
      <h4>Read Me Please</h4>
        For information about this template and for general documenation please visit <a href="http://www.durandaljs.com">the official site</a> and if you can't find 
        answers to your questions there, we hope you will join our <a href="https://groups.google.com/forum/?fromgroups#!forum/durandaljs">google group</a>.
    </div>
</section>